[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/testerGDL
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/testerGDL
	label-Verified = -1..+1 group user/testerGDL
	push = group user/testerGDL
	read = group user/testerGDL
	rebase = group user/testerGDL
	removeReviewer = group user/testerGDL
	submit = group user/testerGDL
[access "refs/heads/*"]
	create = group user/testerGDL
	push = +force group user/testerGDL
	pushMerge = group user/testerGDL
	read = group user/testerGDL
[access "refs/tags/*"]
	push = group user/testerGDL
	push = +force group user/testerGDL
